<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  {% block head %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock head %}
  <meta charset="UTF-8">
  <title>Eventbrite Vacations</title>
  {% load bootstrap4 %}
  {% bootstrap_css %}
</head>
<body>
  {% include 'vacations_app/_navbar.html' %}
  <div class="content-wrapper">
    {% block content %}
    {% endblock content %}
  </div>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Made with ❤  by EDA</span>
  <p></p>
  </div>
</footer>
{% bootstrap_javascript jquery='full' %}
{% block scripts %}
{% endblock scripts %}
</body>
</html>
