{% extends 'vacations_app/base.html' %}
{% load static %}
{% block head %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}
{% block content %}

{% if user.is_authenticated %}
  <h1>Employee</h1>
  <br>
  {% if object_list %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>From Date</th>
        <th>To Date</th>
        <th>Days</th>
        <th>Applicable Year</th>
        <th>Print</th>
      </tr>
    </thead>
    {% for vacation in object_list %}
    <tbody>
    <tr>
        <td>{{ vacation.from_date|date }}</td>
        <td>{{ vacation.to_date|date }}</td>
        <td>{{ vacation.days_quantity }}</td>
        <td>{{ vacation.applicable_worked_year }}</td>
        <td><a href="{% url 'print' pk=vacation.id %}" class="btn btn-success">Print Request</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% else %}
    <p class="lead">You have no vacations assigned</p>
  {% endif %}
  <a href="{% url 'vacation-request' %}" class="btn btn-primary">Request vacation</a>
  {% if manager_user %}
    <a href="{% url 'vacations-team' %}" class="btn btn-info">View Team vacations</a>
  {% endif %}
  {% if staff_user %}
    <a href="{% url 'employees-list' %}" class="btn btn-warning">Employees</a>
    <a href="{% url 'vacation-admin-request' %}" class="btn btn-warning">Admin Request vacation</a>
    <a href="{% url 'vacations-list' %}" class="btn btn-info">View vacations requests</a>
    <a href="{% url 'holidays-list' %}" class="btn btn-info">View Holidays</a>
    <a href="{% url 'assigned-vacations-list' %}" class="btn btn-info">View Employees Assigned Vacations</a>
  {% endif %}
{% endif %}
{% endblock content %}
