{% extends 'vacations_app/base.html' %}
{% load static %}
{% block head %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}
{% block content %}
<head>
    <title></title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Employee</h1>
    {% if vacation %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>To Date</th>
          <th>From Date</th>
        </tr>
      </thead>
       {% for vacation in object_list %}
      <tbody>
      <tr>
          <th scope="row">1</th>
          <td>{{ vacation.from_date|date }}</td>
          <td>{{ vacation.to_date|date }}</td>
        </tr>
      </tbody>
        {% endfor %}
    </table>
    {% else %}
        <p class="lead">You have no vacations assigned</p>
    {% endif %}
        <a href="vacation-request">Request vacation</a>
    {% endif %}
</body>
{% endblock content %}
