{% extends 'vacations_app/base.html' %}
{% load static %}
{% block head %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}
{% block content %}

{% if user.is_authenticated %}
  <h1>Vacations</h1>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Employee</th>
          <th>From Date</th>
          <th>To Date</th>
          <th>Applicable Year</th>
        </tr>
      </thead>
       {% for vacation in object_list %}
      <tbody>
      <tr>
          <td>{{ vacation.employee.first_name }} {{ vacation.employee.last_name }} </td>
          <td>{{ vacation.from_date|date }}</td>
          <td>{{ vacation.to_date|date }}</td>
          <td>{{ vacation.applicable_worked_year }}</td>
        </tr>
      </tbody>
        {% endfor %}
    </table>
  {% else %}
{% endif %}
{% endblock content %}
