<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<p>Mendoza,………………………………...……. de 2019</p>



<p>Por medio de la presente, se deja constancia del acuerdo entre <b><u>{{object.employee.first_name}} {{object.employee.last_name}}</u></b>, y Eventbrite Argentina S.A . Se pacta entre ambas partes que el empleado gozará de <b><u>{{object.employee.initial_annual_vacations_days}}</u></b>. días corridos en concepto de Licencia por vacaciones correspondientes al periodo <b><u>{{object.applicable_worked_year}}</u></b>.</p>

<p>Las mismas comienzan el día <b><u>{{object.from_date}}</u></b> y finalizan el
día <b><u>{{object.to_date}}</u></b> retomando sus labores habituales el día <b><u>{{object.to_date_next_day}}</u></b>. del 2019. Finalizada esta licencia, el saldo de vacaciones correspondiente a dicho periodo es de <b><u>{{object.year_vacation_left}}</u></b> días.</p>

<p>_________________________________</p>
<p>Firma Briteling</p>
<p></p>
<p>_________________________________</p>
<p>Aclaración</p>
<p></p>
<p>_________________________________</p>
<p>DNI</p>
<p></p>
<p>_________________________________</p>
<p>Firma Manager</p>
<p></p>
<p>_________________________________</p>
<p>Aclaración</p>
<p></p>
<p>_________________________________</p>
<p>Fecha de aprobación</p>
<p></p>
</body>
</html>
